/* affects all pages */
body {
    text-align: center;
    color: #F0F3BD;
    margin-right: 0px;
    margin-left: 0px; 
    min-height: 100vh;
}
.wrapper{
    position:fixed;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    overflow: hidden;
    background: linear-gradient(90deg,
                rgb(3, 73, 90) 0%,
                rgba(9, 9, 121, 1)50%,
                rgba(3, 73, 90)100%);
    
    z-index: -1;
}
.image{
    border-radius: 50%;
}
.box > div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:transparent;
    border: 6px solid rgba(255,255,255,0.8);
}
.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 4s linear infinite;
}
.box div:nth-child(4) {
    top: 28%;
    left: 85%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(5) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(6) {
    top: 50%;
    left: 63%;
    animation: animate 8s linear infinite;
}

.box div:nth-child(7) {
    top: 85%;
    left: 80%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(8) {
    top: 80%;
    left: 15%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(9) {
    top: 45%;
    left: 23%;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) translateX(0) rotate(0);
        opacity: 1;
    }   
    100%{
        transform: scale(1) translateY(-90px) translateX(90px) rotate(360deg);
        opacity: 0;
    }
}
header{
    display: flex;
    flex-direction: column;
    background-color: #028090;
    padding: 10px 0 10px 0;
    margin-top: 50px;
    opacity: 50%;
    min-width: 100%;
    
}
@media only screen and (max-width:800px) {
    header {
        padding-right: 10vh;
    }
}

header > h1 {
    font-size: 2.8em;
    opacity: 100%;
}

header > p {
    font-size: 22px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #028090;
    padding: 20px 0 15px 0;
    margin-top: -65px;
    z-index: 3;
    
}

.navbar > a {
    position: relative;
    background: #33bfd1;
    color: #F0F3BD;
    font-size: 2.2em;
    margin: 0 10px 0 10px;
    padding: 0 10px;
    text-decoration: none;
    transition: 1s;
    border-radius: 5px;
    
   
}


.navbar> a:hover{
    background: var(--clr) ;
    letter-spacing: 0.05em;
} 

.navbar> a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #028090;
}

.navbar> a span {
   position: relative; 
   z-index: 1;
}

/* index page */
.intro {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-left: 15vw;
    padding-right: 15vw;
    gap: 10vw;
}

.intro > img {
    height: 400px;
    padding-left: 25px;
    border-radius: 50%;
}

article{
    min-width: 400px;
    max-width: 29%;
    font-size: 32px;
}

/* about page */

/* establish grid */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
    min-width: 5vw;
    
}
/* change font sizes */
.container > section > h2 {
    font-size: 40px;
}

.container>section>p {
    font-size: 24px;
}

/* portfolio page */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills > h2{
    font-size: 40px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
}

ul > li {
    list-style: none;
    font-size: 24px;
}

.projects > p {
    font-size: 24px;
}

/* contact page */

